/* Reset
 ************************************************ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: "Europa", "Helvetica Neue"; }

div#science-container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-auto-rows: minmax(160px, auto);
  grid-auto-flow: dense;
  max-width: 1758px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.8); }

.box {
  display: flex;
  background-color: #999;
  overflow: hidden; }
  .box img {
    width: 100%;
    height: 100%; }

.text-box {
  grid-row-end: span 2;
  grid-column-end: span 2;
  z-index: 999;
  background-color: #000;
  font-size: 24px;
  font-weight: 900;
  padding: 24px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25); }

.first-box {
  background-image: linear-gradient(to top, #6b53fc, #8a92ff); }

.second-box {
  background-image: linear-gradient(to top, #d0e5ff, #ddedff); }

.third-box {
  background-image: linear-gradient(to top, #ef8e0b, #ffb400); }

.fourth-box {
  background-image: linear-gradient(to top, #d85cca, #ea87da); }

@media screen and (max-width: 479px) {
  div#science-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(80px, auto); }
  .text-box {
    grid-row-end: span 3;
    grid-column-end: span 3; }
  .first-box {
    grid-row-start: 1;
    grid-column-start: 1; }
  .second-box {
    grid-row-start: 5;
    grid-column-start: 2; }
  .third-box {
    grid-row-start: 9;
    grid-column-start: 1; }
  .fourth-box {
    grid-row-start: 13;
    grid-column-start: 2; }
  .box:nth-child(n+29) {
    display: none; } }

@media screen and (min-width: 480px) and (max-width: 639px) {
  .first-box {
    grid-row-start: 1;
    grid-column-start: 1; }
  .second-box {
    grid-row-start: 3;
    grid-column-start: 2; }
  .third-box {
    grid-row-start: 5; }
  .fourth-box {
    grid-row-start: 7;
    grid-column-start: 2; }
  .box:nth-child(n+13) {
    display: none; } }

@media screen and (min-width: 640px) and (max-width: 799px) {
  .first-box {
    grid-row-start: 1;
    grid-column-start: 1; }
  .second-box {
    grid-row-start: 3;
    grid-column-start: 2; }
  .third-box {
    grid-row-start: 5;
    grid-column-start: 3; }
  .fourth-box {
    grid-row-start: 7;
    grid-column-start: 2; }
  .box:nth-child(11) {
    grid-row-end: span 2;
    grid-column-end: span 2; }
  .box:nth-child(n+18) {
    display: none; } }

@media screen and (min-width: 800px) and (max-width: 959px) {
  .first-box {
    grid-row-start: 1;
    grid-column-start: 2; }
  .second-box {
    grid-row-start: 3;
    grid-column-start: 3; }
  .third-box {
    grid-row-start: 5;
    grid-column-start: 2; }
  .fourth-box {
    grid-row-start: 7;
    grid-column-start: 3; }
  .box:nth-child(14) {
    grid-row-end: span 2;
    grid-column-end: span 2; }
  .box:nth-child(n+26) {
    display: none; } }

@media screen and (min-width: 960px) and (max-width: 1119px) {
  .first-box {
    grid-row-start: 1;
    grid-column-start: 2; }
  .second-box {
    grid-row-start: 2;
    grid-column-start: 4; }
  .third-box {
    grid-row-start: 4;
    grid-column-start: 2; }
  .fourth-box {
    grid-row-start: 5;
    grid-column-start: 4; }
  .box:nth-child(25) {
    grid-row-end: span 2;
    grid-column-end: span 2; }
  .box:nth-child(n+25) {
    display: none; } }

@media screen and (min-width: 1120px) and (max-width: 1279px) {
  .first-box {
    grid-row-start: 1;
    grid-column-start: 2; }
  .second-box {
    grid-row-start: 2;
    grid-column-start: 4; }
  .third-box {
    grid-row-start: 4;
    grid-column-start: 3; }
  .fourth-box {
    grid-row-start: 5;
    grid-column-start: 5; }
  .box:nth-child(9) {
    grid-row-end: span 2;
    grid-column-end: span 2; }
  .box:nth-child(14) {
    grid-row-end: span 2;
    grid-column-end: span 2; }
  .box:nth-child(n+25) {
    display: none; } }

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .first-box {
    grid-row-start: 1;
    grid-column-start: 2; }
  .second-box {
    grid-row-start: 2;
    grid-column-start: 5; }
  .third-box {
    grid-row-start: 4;
    grid-column-start: 3; }
  .fourth-box {
    grid-row-start: 5;
    grid-column-start: 6; }
  .box:nth-child(9) {
    grid-row-end: span 2;
    grid-column-end: span 2; }
  .box:nth-child(17) {
    grid-row-end: span 2;
    grid-column-end: span 2; }
  .box:nth-child(n+31) {
    display: none; } }

@media screen and (min-width: 1440px) and (max-width: 1599px) {
  .first-box {
    grid-row-start: 1;
    grid-column-start: 2; }
  .second-box {
    grid-row-start: 2;
    grid-column-start: 6; }
  .third-box {
    grid-row-start: 4;
    grid-column-start: 3; }
  .fourth-box {
    grid-row-start: 5;
    grid-column-start: 7; }
  .box:nth-child(9) {
    grid-row-end: span 2;
    grid-column-end: span 2; }
  .box:nth-child(12) {
    grid-row-end: span 2;
    grid-column-end: span 2; }
  .box:nth-child(17) {
    grid-row-end: span 2;
    grid-column-end: span 2; }
  .box:nth-child(19) {
    grid-row-end: span 2;
    grid-column-end: span 2; }
  .box:nth-child(n+31) {
    display: none; } }

@media screen and (min-width: 1600px) {
  .first-box {
    grid-row-start: 1;
    grid-column-start: 3; }
  .second-box {
    grid-row-start: 2;
    grid-column-start: 6; }
  .third-box {
    grid-row-start: 4;
    grid-column-start: 4; }
  .fourth-box {
    grid-row-start: 5;
    grid-column-start: 7; }
  .box:nth-child(5) {
    grid-row-end: span 2;
    grid-column-end: span 2; }
  .box:nth-child(9) {
    grid-row-end: span 2;
    grid-column-end: span 2; }
  .box:nth-child(12) {
    grid-row-end: span 2;
    grid-column-end: span 2; }
  .box:nth-child(10) {
    grid-row-end: span 2;
    grid-column-end: span 2; }
  .box:nth-child(11) {
    grid-row-end: span 2;
    grid-column-end: span 2; }
  .box:nth-child(17) {
    grid-row-end: span 2;
    grid-column-end: span 2; }
  .box:nth-child(n+31) {
    display: none; } }

a {
  text-decoration: none;
  color: #14ABF7; }
