$box-size: 160px
$small-box-size: 80px

=big-box()
  grid-row-end: span 2
  grid-column-end: span 2

div#science-container
  display: grid
  margin: 0 auto
  grid-template-columns: repeat(auto-fill, minmax($box-size, 1fr))
  grid-auto-rows: minmax($box-size, auto)
  grid-auto-flow: dense
  max-width: (11 * $box-size) - 2
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.8)


.box
  display: flex
  background-color: #999
  overflow: hidden

  img
    width: 100%
    height: 100%


.text-box
  +big-box
  z-index: 999
  background-color: #000
  font-size: 24px
  font-weight: 900
  padding: 24px
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25)

.first-box
  background-image: linear-gradient(to top, #6b53fc, #8a92ff)

.second-box
  background-image: linear-gradient(to top, #d0e5ff, #ddedff)

.third-box
  background-image: linear-gradient(to top, #ef8e0b, #ffb400)

.fourth-box
  background-image: linear-gradient(to top, #d85cca, #ea87da)


@media screen and (max-width: (3 * $box-size) - 1)
  div#science-container
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-auto-rows: minmax($small-box-size, auto)

  .text-box
    grid-row-end: span 3
    grid-column-end: span 3

  .first-box
    grid-row-start: 1
    grid-column-start: 1

  .second-box
    grid-row-start: 5
    grid-column-start: 2

  .third-box
    grid-row-start: 9
    grid-column-start: 1

  .fourth-box
    grid-row-start: 13
    grid-column-start: 2

  .box:nth-child(n+29)
    display: none

@media screen and (min-width: 3 * $box-size) and (max-width: (4 * $box-size) - 1)
  .first-box
    grid-row-start: 1
    grid-column-start: 1

  .second-box
    grid-row-start: 3
    grid-column-start: 2

  .third-box
    grid-row-start: 5

  .fourth-box
    grid-row-start: 7
    grid-column-start: 2

  .box:nth-child(n+13)
    display: none

@media screen and (min-width: 4 * $box-size) and (max-width: (5 * $box-size) - 1)
  .first-box
    grid-row-start: 1
    grid-column-start: 1

  .second-box
    grid-row-start: 3
    grid-column-start: 2

  .third-box
    grid-row-start: 5
    grid-column-start: 3

  .fourth-box
    grid-row-start: 7
    grid-column-start: 2

  .box:nth-child(11)
    +big-box

  .box:nth-child(n+18)
    display: none


@media screen and (min-width: 5 * $box-size) and (max-width: (6 * $box-size) - 1)
  .first-box
    grid-row-start: 1
    grid-column-start: 2

  .second-box
    grid-row-start: 3
    grid-column-start: 3

  .third-box
    grid-row-start: 5
    grid-column-start: 2

  .fourth-box
    grid-row-start: 7
    grid-column-start: 3

  .box:nth-child(14)
    +big-box


  .box:nth-child(n+26)
    display: none


@media screen and (min-width: 6 * $box-size) and (max-width: (7 * $box-size) - 1)
  .first-box
    grid-row-start: 1
    grid-column-start: 2

  .second-box
    grid-row-start: 2
    grid-column-start: 4

  .third-box
    grid-row-start: 4
    grid-column-start: 2

  .fourth-box
    grid-row-start: 5
    grid-column-start: 4

  .box:nth-child(25)
    +big-box

  .box:nth-child(n+25)
    display: none


@media screen and (min-width: 7 * $box-size) and (max-width: (8 * $box-size) - 1)
  .first-box
    grid-row-start: 1
    grid-column-start: 2

  .second-box
    grid-row-start: 2
    grid-column-start: 4

  .third-box
    grid-row-start: 4
    grid-column-start: 3

  .fourth-box
    grid-row-start: 5
    grid-column-start: 5

  .box:nth-child(9)
    +big-box

  .box:nth-child(14)
    +big-box

  .box:nth-child(n+25)
    display: none


@media screen and (min-width: 8 * $box-size) and (max-width: (9 * $box-size) - 1)
  .first-box
    grid-row-start: 1
    grid-column-start: 2

  .second-box
    grid-row-start: 2
    grid-column-start: 5

  .third-box
    grid-row-start: 4
    grid-column-start: 3

  .fourth-box
    grid-row-start: 5
    grid-column-start: 6

  .box:nth-child(9)
    +big-box

  .box:nth-child(17)
    +big-box

  .box:nth-child(n+31)
    display: none


@media screen and (min-width: 9 * $box-size) and (max-width: (10 * $box-size) - 1)
  .first-box
    grid-row-start: 1
    grid-column-start: 2

  .second-box
    grid-row-start: 2
    grid-column-start: 6

  .third-box
    grid-row-start: 4
    grid-column-start: 3

  .fourth-box
    grid-row-start: 5
    grid-column-start: 7

  .box:nth-child(9)
    +big-box

  .box:nth-child(12)
    +big-box

  .box:nth-child(17)
    +big-box

  .box:nth-child(19)
    +big-box

  .box:nth-child(n+31)
    display: none


@media screen and (min-width: 10 * $box-size)
  .first-box
    grid-row-start: 1
    grid-column-start: 3

  .second-box
    grid-row-start: 2
    grid-column-start: 6

  .third-box
    grid-row-start: 4
    grid-column-start: 4

  .fourth-box
    grid-row-start: 5
    grid-column-start: 7

  .box:nth-child(5)
    +big-box

  .box:nth-child(9)
    +big-box

  .box:nth-child(12)
    +big-box

  .box:nth-child(10)
    +big-box

  .box:nth-child(11)
    +big-box

  .box:nth-child(17)
    +big-box

  .box:nth-child(n+31)
    display: none
